label {
  display: none;
}
form {
  display: flex;
  flex-direction: row;
}

form > img {
  margin-right: 7px;
  margin-top: 7px;
}

form > input {
  height: 1rem;
  margin-top: 10px;
  width: 280px;
  border-radius: 6px;
  border: none;
  background-color: whitesmoke;
  padding: 7px;
}

.grid {
  display: grid;
  grid-template-columns: 21rem 1fr;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
  gap: 2rem;
}

#Temperature {
  margin-bottom: 0px;
}

.left-section-border {
  border-bottom: 1px black solid;
  text-align: center;
}

span {
  font-weight: lighter;
  color: gray;
  font-size: 10px;
}

.temp-grid {
  display: grid;
  grid: repeat(3, 5rem);
  gap: 2rem;
  height: 100vh;
  place-content: center;
  background-color: #efefef;
}

.temp-iten-row1 {
  grid-row: 2/2;
}
.temp-iten-row2 {
  grid-row: 3/3;
}

.iten-style {
  background-color: #748cf1;
  width: 20rem;
  height: 14rem;
  border-radius: 20px;
  text-align: center;
}

.temp-grid-header {
  grid-column: 2;
  display: flex;
  place-content: center;
}

.temp-grid-header > button {
  margin-right: 2rem;
}

.temp-grid > div:nth-child(1) {
  grid-column: 1;
  margin-top: 2rem;
}

.temp-grid > div:nth-child(1) > button {
  margin-right: 20px;
  border: none;
  background: none;
  font-size: 2rem;
}
